.header {
    margin-bottom: 50px;
}

.title {
    margin: 0;
    padding: 30px 0;
}

.btn-listar {
    display: block;
    width: 100%;
}

.section-author{
    position: fixed;
    display: block;
    width: 100%;
    bottom: 0;
    z-index: 100;
}